In [293]:
import pandas as pd
import numpy as np
from datetime import timedelta
from tqdm import tqdm
from scipy.stats import pearsonr

In [294]:
data_frame = pd.read_excel(r'data/StocksFrameIBOV.xlsx')
data_frame = data_frame.set_index('RptDt')
display(data_frame.head())

,TckrLst,ClsPrc,NmbrOfStcks
RptDt,,,
1997-09-06,"['ACE1', 'ACE2', 'ALP3', 'ALP4', 'ANH1', 'ANO5...","[9.0, 4.3, 435.0, 370.01, 8.51, 7.0, 590.0, 24...",128
1997-09-07,"['ACE1', 'ACE2', 'ALP3', 'ALP4', 'ANH1', 'ANO5...","[9.0, 4.8, 435.0, 379.99, 10.5, 7.0, 850.0, 26...",127
1997-09-08,"['ACE1', 'ACE2', 'ALP3', 'ALP4', 'ANH1', 'ANO5...","[10.0, 5.3, 450.0, 386.0, 10.5, 7.0, 650.0, 28...",127
1997-09-09,"['ACE1', 'ACE2', 'ALP3', 'ALP4', 'ANH1', 'ANO5...","[6.0, 5.2, 460.0, 400.0, 9.5, 7.0, 700.0, 25.5...",126
1997-09-10,"['ACE1', 'ACE2', 'ALP3', 'ALP4', 'ANH1', 'ANO5...","[8.0, 5.0, 450.0, 395.0, 9.0, 7.0, 850.0, 28.0...",127

-------
**Transformando as strings da coluna de TcKrlst para listas**

In [295]:
new_tickers = []
for i in tqdm(range(len(data_frame)), position=0, leave=True):
    df_to_list = data_frame.iloc[i][0].split(',')
    df_to_list[0] = df_to_list[0].replace('[',' ')
    df_to_list[-1] = df_to_list[-1].replace(']','')
    for j, element in enumerate(df_to_list):
        df_to_list[j] = element.replace(' ', '')
        df_to_list[j] = df_to_list[j][1:len(df_to_list[j])-1]
    new_tickers.append(df_to_list)

100%|████████████████████████████████████████████████████████████████████████████| 8881/8881 [00:04<00:00, 2120.34it/s]

In [296]:
new_prices = []
for i in tqdm(range(len(data_frame)), position=0, leave=True):
    df_to_list = data_frame.iloc[i][1].split(',')
    df_to_list[0] = df_to_list[0].replace('[',' ')
    df_to_list[-1] = df_to_list[-1].replace(']','')
    for j, element in enumerate(df_to_list):
        df_to_list[j] = element.replace(' ', '')
        df_to_list[j] = float(df_to_list[j])
    new_prices.append(df_to_list)

100%|████████████████████████████████████████████████████████████████████████████| 8881/8881 [00:04<00:00, 2107.88it/s]

In [297]:
data_frame.drop(['TckrLst', 'ClsPrc'], axis=1)
data_frame['TckrLst'] = new_tickers
data_frame['ClsPrc'] = new_prices
display(data_frame)

,TckrLst,ClsPrc,NmbrOfStcks
RptDt,,,
1997-09-06,"[ACE1, ACE2, ALP3, ALP4, ANH1, ANO5, ART2, AVI...","[9.0, 4.3, 435.0, 370.01, 8.51, 7.0, 590.0, 24...",128
1997-09-07,"[ACE1, ACE2, ALP3, ALP4, ANH1, ANO5, ART2, AVI...","[9.0, 4.8, 435.0, 379.99, 10.5, 7.0, 850.0, 26...",127
1997-09-08,"[ACE1, ACE2, ALP3, ALP4, ANH1, ANO5, ART2, AVI...","[10.0, 5.3, 450.0, 386.0, 10.5, 7.0, 650.0, 28...",127
1997-09-09,"[ACE1, ACE2, ALP3, ALP4, ANH1, ANO5, ART2, AVI...","[6.0, 5.2, 460.0, 400.0, 9.5, 7.0, 700.0, 25.5...",126
1997-09-10,"[ACE1, ACE2, ALP3, ALP4, ANH1, ANO5, ART2, AVI...","[8.0, 5.0, 450.0, 395.0, 9.0, 7.0, 850.0, 28.0...",127
...,...,...,...
2021-12-25,"[VALE3, PETR4, ITUB4, BBDC4, PETR3, B3SA3, ABE...","[79.1500015258789, 28.32999992370605, 21.34000...",92
2021-12-26,"[VALE3, PETR4, ITUB4, BBDC4, PETR3, B3SA3, ABE...","[78.94999694824219, 28.75, 21.55999946594238, ...",92
2021-12-27,"[VALE3, PETR4, ITUB4, BBDC4, PETR3, B3SA3, ABE...","[77.05000305175781, 28.78000068664551, 21.4799...",92
2021-12-28,"[VALE3, PETR4, ITUB4, BBDC4, PETR3, B3SA3, ABE...","[77.25, 28.54000091552734, 21.29999923706055, ...",92
2021-12-29,"[VALE3, PETR4, ITUB4, BBDC4, PETR3, B3SA3, ABE...","[77.95999908447266, 28.45000076293945, 20.9500...",93

-------
**Escolha dos intervalos de análises**

begin_date precisa ter dois anos de análises anteriores pois são necessários dados de correlação para serem excluidos na mudança relativa e na mudança relativa suavizada

In [298]:
begin_date = pd.to_datetime('2000-09-06') - timedelta(days=2*365)
end_date = pd.to_datetime('2000-09-07')
print(f'Begin Date: {begin_date}')
print(f'End Date: {end_date}')

Begin Date: 2000-09-06 00:00:00
End Date: 2000-09-07 00:00:00

In [299]:
window = 365

In [300]:
#Estima a covariância entre duas ações
def covariance_estimation (x, y):
    cova = np.cov(x, y)
    cov_numeric = cova[0][-1]
    return cov_numeric

In [301]:
#Estima a correlação entre duas ações
def correlation_estimation (x, y):
    corr, _ = pearsonr(x, y)
    return corr

In [302]:
#Capta os preços de acordo com os índices
def prices_stocks (data_frame, indexs1, indexs2, start, stop):
    prices1 = []
    prices2 = []
    count = 0
    for k in range(data_frame.index.get_loc(start), data_frame.index.get_loc(stop)+1):
        prices1.append(data_frame.iloc[k][1][indexs1[count]])
        prices2.append(data_frame.iloc[k][1][indexs2[count]])
        count = count + 1
    return prices1, prices2

In [303]:
#Estima as posições de cada ação nas listas de tickres no período de 1 ano
def prices_to_estimation (data_frame, intersection, start, stop, stock1, stock2):
    indexs1 = []
    indexs2 = []
    for j in range(data_frame.index.get_loc(start), data_frame.index.get_loc(stop)+1):
        indexs1.append(data_frame.iloc[j][0].index(stock1))
        indexs2.append(data_frame.iloc[j][0].index(stock2))
    prices1, prices2 = prices_stocks(data_frame, indexs1, indexs2, start, stop)
    return prices1, prices2

In [304]:
#Encontra a interceção entre duas listas
def common_elements (current_tickrs, previous_tickrs):
    intersection = []
    aux = []
    for element in current_tickres:
        validation = [element in previous_tickrs[o] for o in range(len(previous_tickrs))]
        if all(validation):
            intersection.append(element)

    return intersection

In [305]:
all_correlation = []
all_covariance = []
tamanho_inicio = []
tamanho_int = []

for i in tqdm(range(data_frame.index.get_loc(begin_date), data_frame.index.get_loc(end_date)+1),\
              position=0, leave=True, desc = 'elementos comuns'):
    
    start = data_frame.index[i] -  timedelta(days=window)
    stop = data_frame.index[i]
    
    current_tickrs = data_frame.loc[stop]['TckrLst']
    previous_tickrs = data_frame.loc[start:stop]['TckrLst'].tolist()
    tamanho_inicio.append(len(current_tickres))
    
    intersection = common_elements(current_tickrs, previous_tickrs)
    tamanho_int.append(len(intersection))
    
    
    partial_corr = []
    partial_cov =[]
    
    for a in tqdm(range (len(intersection)), position=0, leave=True, desc = 'combinação'):
        stock1 = intersection[a]
        for b in range(a, len(intersection)):
            stock2 = intersection[b]
            prices1, prices2 = prices_to_estimation (data_frame, 
                                                     intersection, start, stop, 
                                                     stock1, stock2)
            corr = correlation_estimation(prices1, prices2)
            cov = covariance_estimation(prices1, prices2)
            partial_corr.append(corr)
            partial_cov.append(cov)
    all_correlation.append(np.mean(partial_corr))
    all_covariance.append(np.mean(partial_cov))
    
    break

combinação:   6%|████                                                                   | 3/52 [01:26<23:27, 28.72s/it]
elementos comuns:   0%|                                                                          | 0/2 [01:26<?, ?it/s]

KeyboardInterrupt:

In [309]:
correlation_df = pd.DataFrame({'Correlation': all_correlation})
covariance_df = pd.DataFrame({'Covariance': all_covariance})

In [310]:
correlation_df.to_excel(r'data/correlation.xlsx')
covariance_df.to_excel(r'data/covariance.xlsx')

Empty DataFrame
Columns: [Correlation]
Index: []