In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
from tqdm import tqdm

In [2]:
stocks_frame = pd.read_excel('data/IBrXStocksFrame.xlsx')
stocks_frame.drop('NmbrOfStcks', inplace=True, axis=1)
stocks_frame.head(10)

,RptDt,TckrLst,ClsPrc
0,1996-01-02,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.04, 23.0, 26.7, 0.16, 1.28, 46.0, 2.5, 10.7..."
1,1996-01-03,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.35, 24.0, 27.5, 0.17, 1.37, 54.0, 0.7, 10.7..."
2,1996-01-04,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 22.0, 28.49, 0.17, 1.35, 153.5, 2.5, 7.2..."
3,1996-01-05,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 20.49, 27.99, 0.19, 1.34, 153.5, 2.5, 10..."
4,1996-01-08,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.45, 20.29, 27.5, 0.19, 1.31, 153.5, 0.7, 10..."
5,1996-01-09,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.39, 19.9, 26.91, 0.18, 1.27, 153.5, 2.5, 11..."
6,1996-01-10,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.21, 45.2, 26.5, 0.18, 1.22, 153.5, 2.5, 11...."
7,1996-01-11,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.55, 19.5, 26.5, 0.18, 1.25, 49.01, 2.5, 7.2..."
8,1996-01-12,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.8, 19.0, 26.8, 0.18, 1.27, 48.51, 0.7, 12.0..."
9,1996-01-15,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.7, 17.8, 27.2, 0.18, 1.25, 48.0, 2.5, 11.5,..."

In [3]:
len(stocks_frame)

6433

In [4]:
dates = []
tickers = []
prices = []
for i in tqdm(range(1, len(stocks_frame)), position=0, leave=True):
    date = stocks_frame.iloc[i-1]['RptDt']
    next_date = stocks_frame.iloc[i]['RptDt']
    difference = abs((date - next_date).days)
    if difference > 1:
        for j in range(difference-1):
            date_tomorrow = date + timedelta(days=j+1)
            dates.append(date_tomorrow)
            tickers.append(stocks_frame.iloc[i-1]['TckrLst'])
            prices.append(stocks_frame.iloc[i-1]['ClsPrc'])
            
aux = pd.DataFrame(list(zip(dates,tickers,prices)), columns=stocks_frame.columns)

100%|████████████████████████████████████████████████████████████████████████████| 6432/6432 [00:02<00:00, 2286.60it/s]

In [5]:
display(aux.head(3))

,RptDt,TckrLst,ClsPrc
0,1996-01-06,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 20.49, 27.99, 0.19, 1.34, 153.5, 2.5, 10..."
1,1996-01-07,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 20.49, 27.99, 0.19, 1.34, 153.5, 2.5, 10..."
2,1996-01-13,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.8, 19.0, 26.8, 0.18, 1.27, 48.51, 0.7, 12.0..."

In [6]:
stocks_frame = pd.concat([aux, stocks_frame])

In [7]:
display(stocks_frame.head(3))

,RptDt,TckrLst,ClsPrc
0,1996-01-06,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 20.49, 27.99, 0.19, 1.34, 153.5, 2.5, 10..."
1,1996-01-07,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 20.49, 27.99, 0.19, 1.34, 153.5, 2.5, 10..."
2,1996-01-13,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.8, 19.0, 26.8, 0.18, 1.27, 48.51, 0.7, 12.0..."

In [8]:
len(stocks_frame)

9495

In [9]:
stocks_frame = stocks_frame.sort_values(by='RptDt')
stocks_frame.head(3)

,RptDt,TckrLst,ClsPrc
0,1996-01-02,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.04, 23.0, 26.7, 0.16, 1.28, 46.0, 2.5, 10.7..."
1,1996-01-03,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.35, 24.0, 27.5, 0.17, 1.37, 54.0, 0.7, 10.7..."
2,1996-01-04,"['BES 4', 'CES 3', 'CES 4', 'CHA 4', 'CSI 6', ...","[5.5, 22.0, 28.49, 0.17, 1.35, 153.5, 2.5, 7.2..."

In [10]:
stocks_frame.to_excel(r'data/StocksFrameIBrX.xlsx', index=False)

In [14]:
dates =pd.DataFrame(stocks_frame['RptDt'].tolist(), columns=['Dates'])

In [16]:
dates.to_excel(r'data/DatesIbrX.xlsx', index=False)