In [13]:
import pandas as pd

In [14]:
dicionario = {'a': [1, 2, 3, 4],
              'b': [5, 6, 7, 8],
              'c': [9, 10, 11, 12], 
              'd': [13, 14, 15, 16]}
df = pd.DataFrame(dicionario)
df

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

In [17]:
valores_fora_diagonal = []
for i in range(len(df)):
    for j in range(i):
        valores_fora_diagonal.append(df.iloc[i][j])

In [18]:
valores_fora_diagonal

[2, 3, 7, 4, 8, 12]