In [13]:
import statistics
import numpy as np
import pandas as pd
from datetime import timedelta
from tqdm import tqdm

In [14]:
index_dataframe = pd.read_excel(r'data/IndexFrameIBrX.xlsx')
index_dataframe = index_dataframe.set_index('Date')

In [15]:
index_dataframe.head(3)

              Close
Date
2000-12-27  3177.46
2000-12-28  3211.76
2000-12-29  3211.76

In [16]:
begin_date = pd.to_datetime('2000-12-27') + timedelta(days=365)
end_date = index_dataframe.index[-1]

In [23]:
begin_date

Timestamp('2001-12-27 00:00:00')

In [17]:
index_begin_date = index_dataframe.index.get_loc(begin_date)
index_end_date = index_dataframe.index.get_loc(end_date)

In [18]:
all_std = []
dates = index_dataframe.index[index_begin_date:index_end_date+1]
for day in tqdm(index_dataframe.index[index_begin_date:index_end_date+1]):
    position = index_dataframe.index.get_loc(day)
    close_price_ago = index_dataframe.iloc[position-364:position+1]['Close'].tolist()
    std = statistics.stdev(close_price_ago)
    all_std.append(std)

100%|█████████████████████████████████████████████████████████████████████████████| 7308/7308 [00:10<00:00, 676.99it/s]

In [19]:
vol_dataframe = pd.DataFrame(list(zip(dates, all_std)), columns=['Dates', 'Volatily'])

In [20]:
vol_dataframe.head(3)

       Dates    Volatily
0 2001-12-27  263.670210
1 2001-12-28  263.674751
2 2001-12-29  263.679268

In [21]:
vol_dataframe.to_excel(r'data/VolatilyIBrX.xlsx', index=False)

In [22]:
len(vol_dataframe)

7308