In [104]:
import statistics
import numpy as np
import pandas as pd
from datetime import timedelta
from tqdm import tqdm

In [105]:
index_dataframe = pd.read_excel(r'data/IndexDataFrame.xlsx')
index_dataframe = index_dataframe.set_index('Date')

In [106]:
index_dataframe.head(3)

                Close
Date
1993-04-27  24.500000
1993-04-28  24.299999
1993-04-29  23.700001

In [107]:
begin_date = pd.to_datetime('2000-01-01') - timedelta(days = 2*365)
end_date = index_dataframe.index[-1]

In [108]:
index_begin_date = index_dataframe.index.get_loc(begin_date)
index_end_date = index_dataframe.index.get_loc(end_date)

In [109]:
all_std = []
dates = index_dataframe.index[index_begin_date:index_end_date+1]
for day in tqdm(index_dataframe.index[index_begin_date:index_end_date+1]):
    position = index_dataframe.index.get_loc(day)
    close_price_ago = index_dataframe.iloc[position-364:position+1]['Close'].tolist()
    std = statistics.stdev(close_price_ago)
    all_std.append(std)

100%|█████████████████████████████████████████████████████████████████████████████| 8790/8790 [00:16<00:00, 547.36it/s]

In [110]:
vol_dataframe = pd.DataFrame(list(zip(dates, all_std)), columns=['Dates', 'Volatily'])

In [112]:
vol_dataframe.head(3)

       Dates     Volatily
0 1998-01-01  1626.513166
1 1998-01-02  1616.713050
2 1998-01-03  1607.040626

In [114]:
vol_dataframe.to_excel(r'data/Volatily.xlsx')